    <head>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/jquery-ui.css">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script> 
        <script src="./js/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
        <body>
          <div class="jumbotron">
            <div class="container text-center">
                <div class="d-flex flex-column">
                 <img src="./login.png" id="img">   
                </div>
            </div>
         </div>
            <div class="container-fluid">
             <div class="row">
                   <div class="d-flex1 flex-column ">

                    <form id="myfirstform" name="myform" action="validation.html" method="post">
                        <p>Welcome Back!</p>
                        <h3>TAAQADEMY</h3>
                        <h3>Login</h3>
                        <hr></hr>
                        <input type="radio" name="designation" value="student" id="designation"> 
                        <label for="designation">Student</label>
                        <input type="radio" name="designation"value="faculty" id="designation">
                        <label for="designation">Faculty</label><br>
                        <p id="p1"></p>
                        <label for="password">Enter Password</label><br>
                        <input type="password" id="password" placeholder="enter password"><br>
                        <p id="p2"></p>
                        <a href="#" style="float: right;">Forgot password?</a><br>
                        <label for="num">Phone Number</label><br>
                        <input type="text" placeholder="enter number" id="num"><br>
                        <p id="p3"></p>
                        <input type="checkbox">
                        <label>I'm not a robot</label><br>
                       <button id="login"> <i class="fa fa-rocket" aria-hidden="true" id="sanjay1234"></i></button>
                    </form>
                   </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
<script src="./js/js.js" ></script>
</html>
        
